[submodule "theme/boostchild"]
	path = theme/boostchild
	url = https://gitlab.com/matt.donnelly/moodle-theme_boostchild
[submodule "course/format/topics_advanced"]
	path = course/format/topics_advanced
	url = https://gitlab.com/matt.donnelly/moodle-format_topics_advanced
[submodule "local/cohort_welcome"]
	path = local/cohort_welcome
	url = https://gitlab.com/matt.donnelly/moodle-local_cohort_welcome
[submodule "course/format/cop"]
	path = course/format/cop
	url = https://github.com/psspmoodle/moodle-format_cop
[submodule "mod/scheduler"]
	path = mod/scheduler
	url = https://github.com/psspmoodle/moodle-mod_scheduler
[submodule "mod/ctsr"]
	path = mod/ctsr
	url = https://github.com/psspmoodle/moodle-mod_ctsr
[submodule "mod/path"]
	path = mod/path
	url = https://github.com/psspmoodle/moodle-mod_path
[submodule "mod/scene"]
	path = mod/scene
	url = https://gitlab.com/matt.donnelly/moodle-mod_scene
[submodule "mod/devpage"]
	path = mod/devpage
	url = https://gitlab.com/artem-zaloga/devpage
[submodule "filter/vuecomponents"]
	path = filter/vuecomponents
	url = https://gitlab.com/artem-zaloga/moodle-local_vuecomponents
[submodule "local/autogroup"]
	path = local/autogroup
	url = https://gitlab.com/artem-zaloga/moodle-local_autogroup
[submodule "filter/check_available_complete"]
	path = filter/check_available_complete
	url = https://gitlab.com/matt.donnelly/moodle-filter_check_available_complete
[submodule "local/filter_check_available_complete_restore"]
	path = local/filter_check_available_complete_restore
	url = https://gitlab.com/matt.donnelly/moodle-local_filter_check_available_complete_restore
